<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>可复用性 & 组合</title>
</head>

<body>
    <button onclick="fvisible('zidingyizhiling_tag')">1.混入&自定义指令</button>
    <button onclick="fvisible('zidingyixuanranhanshu_tag')">2.渲染函数</button>
    <button onclick="fvisible('zidingyixuanranhanshujsx_tag')">2.JSX</button>
    <button onclick="fvisible('zidingyixuanranhanshuzujian_tag')">3.函数式组件</button>
    <div id="zidingyizhiling_tag">混入&自定义指令
        <hr/>
        <div id="zidingyizhilingtag_msg">
            <input v-focus v-model="msg"> {{msg}}
        </div>
        <div id="zidingyizhilingtag_hook_arg" v-demo:foo.a.b="message">自定义钩子</div>
        <div id="zidingyizhilingtag_d_hook_arg">
            <p v-pin:[direction]="200">
                动态指令参数 Stick me 200px from the top of the page
            </p>
        </div>
        <div id="zidingyizhilingtag_d_hook_var">
            <div v-demo_zimian="{ color: 'white对象字面量1', text: 'hello!对象字面量2' }">对象字面量</div>
        </div>
    </div>
    <div id="zidingyixuanranhanshu_tag">2.渲染函数
        <div id="zidingyixuanranhanshu_tag_chuantong">
            <anchored_heading_chuantong :level="2">使用模板 来创建你的 HTML!</anchored_heading_chuantong>
            <anchored_heading_xunran :level="2">渲染函数 来创建你的 HTML!</anchored_heading_xunran>
        </div>
        <hr/>
        <div id="anchored_heading_xunran_full_id">
            <div>
                <anchored_heading_xunran_full :level="4">11.渲染函数(完整示例) 来创建你的 HTMLA!</anchored_heading_xunran>
            </div>
            <div>
                <anchored_heading_xunran_full :level="6">22.渲染函数(完整示例) 来创建你的 HTMLB!</anchored_heading_xunran>
            </div>
        </div>
        <hr/>
        <div id="anchored_heading_xunran_full_id01">
            <anchored_heading_xunran_full01>工厂函数渲染</anchored_heading_xunran_full01>
        </div>
        <hr/>使用 JavaScript 代替模板功能
        <div id="anchored_heading_xunran_full_id02">
            <anchored_heading_xunran_full02 :items="items"> </anchored_heading_xunran_full02>
        </div>
        <hr/>使用 JavaScript 代替模板功能
        <div id="anchored_heading_xunran_full_id03">
            渲染函数实现v-model:
            <anchored_heading_xunran_full03 v-model="msg"> </anchored_heading_xunran_full03>
            <p>{{msg}}</p>
        </div>
        <hr/>使用 JavaScript 代替模板功能
        <div id="anchored_heading_xunran_full_id04">
            渲染函数 > 作用域插槽:
            <anchored_heading_xunran_full04 :props01="items"></anchored_heading_xunran_full04>
        </div>
    </div>
    <div id="zidingyixuanranhanshujsx_tag">2.JSX </div>
    <div id="zidingyixuanranhanshuzujian_tag">3.函数式组件
    </div>
    <hr/>
    <hr/>
    <hr/>
</body>

</html>

<script>
    var tabids = ['zidingyizhiling_tag', 'zidingyixuanranhanshu_tag', 'zidingyixuanranhanshujsx_tag',
        'zidingyixuanranhanshuzujian_tag'
    ];

    function fvisible(visible) {
        tabids.forEach((item, index, array) => {
            document.getElementById(item).style.display = (item === visible) ? '' : 'none'
        })
    }
    fvisible(tabids.slice(-1)[0]);
    // fvisible('shenruzujian');
</script>